pytest>=5.0.0
allure-pytest>=2.8.18
flake8>=3.8.3

docutils
mock
poethepoet
PyHamcrest
Pygments


pytest-check
pytest-flakes
pytest-rerunfailures
pytest-xdist
pytest-lazy-fixture

robotframework-pabot